<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing app to help you find nearest MBTA station</title>
  </head>
  <body>
    <h1>MBTA Helper</h1>
    <form method="POST" name="finder">
      {% if error %}
      <p style="color:red">This address is not valid.</p>
      {% endif %}
      <p>
        Please enter an address:
      </p>
      <p>
        <input type="text" size="15" name="address" />
      </p>
      <p>
        <input type="submit" value="Find Nearest Stop" />
      </p>
    </form>
  </body>
</html>